#gitHub,
#stackOverflow {
    box-shadow: 0px 18px 9px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.1s ease-in-out;
    scale: 1;
}

#gitHub:hover,
#stackOverflow:hover {
    text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.40);
    transition: transform 0.3s ease-in-out;
}

#contact {
    height: 48vh;
    width: 80%;
    margin: 60px auto;
    font-size: larger;
    font-style: italic;
    list-style: none;
    display: flex;
    justify-content: center;
}

#contact p {
    font-weight: bolder;
    width: 100%;
    margin: auto;
    height: 30px;
}

#contact li {
    margin: auto;
    margin-bottom: 8vh;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 25vw;
    height: 50vh;
}

#stackOverflow {
    margin-top: 30px;
    font-size: larger;
    background-color: #D9D9D9;
    border-radius: 39px;
    align-content: center;
}

#gitHub {
    font-size: larger;
    background-color: #D9D9D9;
    border-radius: 39px;
    align-content: center;
}

#stackOverflow img {
    width: 12vw;
    border-radius: 12px;
}

#gitHub img {
    width: 14vw;
}

